@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --darkbrown: #1C1610;
    --browndark: #41391f;
    --offwhite: #f8f6e7;
    animation: opacity 500ms ease-in-out;
    font-family: 'Times New Roman', Times, serif;
}

.container-wrapper{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    min-height: 100svh;
    padding: 20px 0 0 0;
    background-color: var(--offwhite);
}

.top {
    position: relative;
    width: 100%;
    min-height: 50svh;
    overflow: hidden;
    z-index: 1;
}

.top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/aboutpic.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(0.2);
    z-index: -1;
    
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    place-items: center;
    gap: 10px;
    color: #fff;
    filter: opacity(0.7);
}






.btn-custom{
    border: 2px solid var(--browndark);
    padding: 5px 40px ;
    font-size: 1.1rem ;
    color: #fff ;
    background: var(--browndark) ;
    &:hover{
        transform: scale(1.1);
    }
}

.modal{
    border: 2px solid red;
    z-index: 9999 !important;
    width: 100% !important;
    padding: 20px  !important;
    display: none !important;
    place-items: center;

    &.show{
        display: grid !important;
    }
}

.modal-dialog{
    width: 100% !important;
   
}

.conwrap{
    width: 100%;
    display: grid;
    place-items: center;
    background-color: var(--offwhite);
    h2{
        font-weight: bold;
        font-size: clamp(1.5rem, 2.5vw, 3rem);
        font-family: 'popins', sans-serif;
    }
}

.newgate{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.ace{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    box-shadow: inset 0 0 10px 2px #eae9da!important;
}

.table-responsive{
    width: 100%;
    max-width: 800px;
}

.table {
    overflow-x: hidden;
    width: 100%;
}

.rtbl{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 20px 0;
}

.stacked-cell {
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    justify-content: flex-start; /* Aligns children to the start of the flex container */
    align-items: center; /* Aligns items to the start of the cross axis */
    text-align: center;
}

.adjustable-font-size {
    font-family: 'popins', sans-serif;
    font-weight: bold;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem); /* Adjust these values as needed */
  }

.card-text{
    font-family: 'popins', sans-serif;
}

.card-actions{
    width: 100%;
    justify-content: center;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.card-actions .view-booking,
.card-actions .edit-booking,
.card-actions .cancel-booking{
    padding: 5px 20px;
    color: #fff;
    font-size: clamp(0.8rem, 1.5vw, 1.5rem);
    margin-bottom: 5px;
}